.pokemons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem;

  &__item {
    flex: 1 1 25%;
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
